<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GSOC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        *{
            margin:0px;
            padding: 0px;
            background-color: #bf2bc6;
            font-size: 20px;
        }
    </style>
    <script>
        var ans = {{ans}}
    </script>
</head>
<body>
    <form style="margin:100px 400px" float="center" action="/check" method="POST" role="form">
        <legend>Enter the Organization Number</legend>
        <div class="form-group">
            <input style="border: black;" type="number" name='organo' class="form-control" id="" placeholder="Input field">
        </div>
        <div>
            {{ans}}
        </div>
    </form>
</body>
</html>